In [35]:
import pandas as pd

data = [[1, 3], [2, 2], [3, 4]]
tasks = pd.DataFrame(data, columns=['task_id', 'subtasks_count']).astype({'task_id':'Int64', 'subtasks_count':'Int64'})
display(tasks)
data = [[1, 2], [3, 1], [3, 2], [3, 3], [3, 4]]
executed = pd.DataFrame(data, columns=['task_id', 'subtask_id']).astype({'task_id':'Int64', 'subtask_id':'Int64'})
display(executed)

   task_id  subtasks_count
0        1               3
1        2               2
2        3               4

   task_id  subtask_id
0        1           2
1        3           1
2        3           2
3        3           3
4        3           4

In [36]:
tasks["subtask_id"] = [[j+1 for j in range(i)] for i in tasks["subtasks_count"]]
tasks = tasks.explode("subtask_id")
tasks = tasks.drop(columns=["subtasks_count"])

df = executed.merge(tasks, on=["task_id", "subtask_id"], how="right", indicator=True)
df = df[df["_merge"] != "both"].drop('_merge', axis=1)

display(df)

   task_id subtask_id
0        1          1
2        1          3
3        2          1
4        2          2