# First Letter Capitalization using Pandas
In the world of data processing, text transformation is a common yet crucial task. Whether you're cleaning messy data or standardizing text for reports, applying consistent formatting can significantly enhance readability.

One such transformation is converting text so that each word starts with an uppercase letter while keeping all other letters in lowercase—also known as Title Case Formatting.

In this blog, we'll explore how to achieve this in Pandas using a simple approach. We'll take raw text from a database, apply the necessary transformations, and return a clean, formatted output. By the end, you'll have a clear understanding of how to handle text casing efficiently in Pandas.

Let's dive in!

**Table: user_content**

| Column Name | Type    |
| ------------|---------|
| content_id  | int     |
| content_text| varchar |

content_id is the unique key for this table.
Each row contains a unique ID and the corresponding text content.

Write a solution to transform the text in the content_text column by applying the following rules:

Convert the first letter of each word to uppercase
Keep all other letters in lowercase
Preserve all existing spaces
Note: There will be no special character in content_text.

Return the result table that includes both the original content_text and the modified text where each word starts with a capital letter.

The result format is in the following example.

**user_content table:**

| content_id | content_text                      |
|------------|-----------------------------------|
| 1          | hello world of SQL                |
| 2          | the QUICK brown fox               |
| 3          | data science AND machine learning |
| 4          | TOP rated programming BOOKS       |

---

### Output:

| content_id | original_text                     | converted_text                    |
|------------|-----------------------------------|-----------------------------------|
| 1          | hello world of SQL                | Hello World Of Sql                |
| 2          | the QUICK brown fox               | The Quick Brown Fox               |
| 3          | data science AND machine learning | Data Science And Machine Learning |
| 4          | TOP rated programming BOOKS       | Top Rated Programming Books       |

---

### Explanation:

- **For content_id = 1:**
  Each word's first letter is capitalized → `Hello World Of Sql`
- **For content_id = 2:**
  Original mixed-case text is transformed to title case → `The Quick Brown Fox`
- **For content_id = 3:**
  The word "AND" is converted to "And" → `Data Science And Machine Learning`
- **For content_id = 4:**
  Handles "TOP rated" correctly → `Top Rated`
  Converts "BOOKS" from all caps to title case → `Books`

In [1]:
import pandas as pd

data = [[1, 'hello world of SQL'],
        [2, 'the QUICK brown fox'],
        [3, 'data science AND machine learning'],
        [4, 'TOP rated programming BOOKS']]

user_content = pd.DataFrame(data, columns=['content_id', 'content_text']).astype({'content_id':'Int64', 'content_text': str})

display(user_content)

   content_id                       content_text
0           1                 hello world of SQL
1           2                the QUICK brown fox
2           3  data science AND machine learning
3           4        TOP rated programming BOOKS

**Step 1. Renaming the Column**
- The rename method is used to change the column name.
- The column "content_text" is renamed to "original_text".
- This ensures clarity by explicitly labeling the column as the original unmodified text.

In [2]:
user_content = user_content.rename(columns={"content_text": "original_text"})
display(user_content)

   content_id                      original_text
0           1                 hello world of SQL
1           2                the QUICK brown fox
2           3  data science AND machine learning
3           4        TOP rated programming BOOKS

**Step 2. Applying Title Case Transformation**
- A new column "converted_text" is created in the DataFrame.
- The str.title() method is applied to the "original_text" column.
- str.title() converts each word in the text to title case, meaning:
- The first letter of each word becomes uppercase.
- All other letters are converted to lowercase.
- The transformed text is stored in the "converted_text" column.

In [3]:
user_content["converted_text"] = user_content["original_text"].str.title()
display(user_content)

,content_id,original_text,converted_text
0,1,hello world of SQL,Hello World Of Sql
1,2,the QUICK brown fox,The Quick Brown Fox
2,3,data science AND machine learning,Data Science And Machine Learning
3,4,TOP rated programming BOOKS,Top Rated Programming Books

Reference: [1] https://leetcode.com/problems/first-letter-capitalization/description/