In [12]:
import pandas as pd

data = [[1, 'hello world of SQL'],
        [2, 'the QUICK brown fox'],
        [3, 'data science AND machine learning'],
        [4, 'TOP rated programming BOOKS']]

user_content = pd.DataFrame(data, columns=['content_id', 'content_text']).astype({'content_id':'Int64', 'content_text': str})

display(user_content)

   content_id                       content_text
0           1                 hello world of SQL
1           2                the QUICK brown fox
2           3  data science AND machine learning
3           4        TOP rated programming BOOKS

In [13]:
user_content = user_content.rename(columns={"content_text": "original_text"})
user_content["converted_text"] = user_content["original_text"].str.title()
display(user_content)

,content_id,original_text,converted_text
0,1,hello world of SQL,Hello World Of Sql
1,2,the QUICK brown fox,The Quick Brown Fox
2,3,data science AND machine learning,Data Science And Machine Learning
3,4,TOP rated programming BOOKS,Top Rated Programming Books