In [5]:
import pandas as pd

data = [[1, 'hello world of SQL'],
        [2, 'the QUICK-brown fox'],
        [3, 'modern-day DATA science'],
        [4, 'web-based FRONT-end development']]

user_content = pd.DataFrame(data,
                            columns=['content_id',
                                     'content_text']).astype(
                            {'content_id':'Int64',
                             'content_text': str})
display(user_content)

   content_id                     content_text
0           1               hello world of SQL
1           2              the QUICK-brown fox
2           3          modern-day DATA science
3           4  web-based FRONT-end development

In [6]:
user_content["converted_text"] = user_content["content_text"].apply(lambda s: s.title())
user_content.rename(columns={"content_text":"original_text"}, inplace=True)
display(user_content)

,content_id,original_text,converted_text
0,1,hello world of SQL,Hello World Of Sql
1,2,the QUICK-brown fox,The Quick-Brown Fox
2,3,modern-day DATA science,Modern-Day Data Science
3,4,web-based FRONT-end development,Web-Based Front-End Development