In [39]:
import pandas as pd

data = [[11, '2023-11-07', 1126],
        [15, '2023-11-30', 7473],
        [17, '2023-11-14', 2414],
        [12, '2023-11-24', 9692],
        [8, '2023-11-03', 5117],
        [1, '2023-11-16', 5241],
        [10, '2023-11-12', 8266],
        [13, '2023-11-24', 12000]]
purchases = pd.DataFrame(data,
                         columns=['user_id',
                                  'purchase_date',
                                  'amount_spend']).astype({
                                  'user_id':'Int64',
                                  'purchase_date':'datetime64[ns]',
                                  'amount_spend':'Int64'})
display(purchases)

   user_id purchase_date  amount_spend
0       11    2023-11-07          1126
1       15    2023-11-30          7473
2       17    2023-11-14          2414
3       12    2023-11-24          9692
4        8    2023-11-03          5117
5        1    2023-11-16          5241
6       10    2023-11-12          8266
7       13    2023-11-24         12000

In [40]:
date_range = pd.date_range(start='2023-11-01', end='2023-11-30', freq='D')

# Convert it to a DataFrame
df = pd.DataFrame({'purchase_date': date_range})
df["day"] = df["purchase_date"].dt.day_name()
df = df[df["day"]=="Friday"]
df["week_of_month"] = [i+1 for i in range(df.shape[0])]
df["purchase_date"] = df["purchase_date"].astype(str)

friday_list = df["purchase_date"].tolist()

display(df)
print(friday_list)

purchases["purchase_date"] = purchases["purchase_date"].astype(str)
purchases = purchases[purchases["purchase_date"].astype(str).isin(friday_list)]
purchases["purchase_date"] = purchases["purchase_date"].astype("category").cat.set_categories(friday_list)
purchases = purchases.groupby(["purchase_date"], observed=False)["amount_spend"].sum().reset_index()
purchases = purchases.rename(columns={"amount_spend": "total_amount"})
purchases = purchases.merge(df, how="left")
purchases = purchases[['week_of_month', 'purchase_date', 'total_amount']]

display(purchases)

   purchase_date     day  week_of_month
2     2023-11-03  Friday              1
9     2023-11-10  Friday              2
16    2023-11-17  Friday              3
23    2023-11-24  Friday              4

['2023-11-03', '2023-11-10', '2023-11-17', '2023-11-24']

   week_of_month purchase_date  total_amount
0              1    2023-11-03          5117
1              2    2023-11-10             0
2              3    2023-11-17             0
3              4    2023-11-24         21692