In [34]:
import pandas as pd

data = [['Alice', 'Travel', '2020-02-12', '2020-02-20'], 
        ['Alice', 'Dancing', '2020-02-21', '2020-02-23'], 
        ['Alice', 'Travel', '2020-02-24', '2020-02-28'], 
        ['Bob', 'Travel', '2020-02-11', '2020-02-18']]
user_activity = pd.DataFrame(data, 
                             columns=['username', 
                                      'activity', 
                                      'startDate', 
                                      'endDate']).astype({'username':'object', 
                                                          'activity':'object', 
                                                          'startDate':'datetime64[ns]', 
                                                          'endDate':'datetime64[ns]'})

display(user_activity)

  username activity  startDate    endDate
0    Alice   Travel 2020-02-12 2020-02-20
1    Alice  Dancing 2020-02-21 2020-02-23
2    Alice   Travel 2020-02-24 2020-02-28
3      Bob   Travel 2020-02-11 2020-02-18

In [35]:
user_activity["username_count"] = user_activity.groupby(["username"])[
                                                         "startDate"].transform("count")

user_activity["rank"] = user_activity.groupby(["username"])[
                                               "startDate"].rank(method="dense",
                                                                 ascending=False)

display(user_activity)

  username activity  startDate    endDate  username_count  rank
0    Alice   Travel 2020-02-12 2020-02-20               3   3.0
1    Alice  Dancing 2020-02-21 2020-02-23               3   2.0
2    Alice   Travel 2020-02-24 2020-02-28               3   1.0
3      Bob   Travel 2020-02-11 2020-02-18               1   1.0

In [36]:
condition_1 = (user_activity["username_count"]==1)
condition_2 = ((user_activity["username_count"]>1) & (user_activity["rank"]==2))
user_activity = user_activity[condition_1 | condition_2]
display(user_activity)

  username activity  startDate    endDate  username_count  rank
1    Alice  Dancing 2020-02-21 2020-02-23               3   2.0
3      Bob   Travel 2020-02-11 2020-02-18               1   1.0

In [37]:
user_activity = user_activity.drop(columns=['username_count', 'rank'])
display(user_activity)

  username activity  startDate    endDate
1    Alice  Dancing 2020-02-21 2020-02-23
3      Bob   Travel 2020-02-11 2020-02-18

References: [1] https://leetcode.com/problems/get-the-second-most-recent-activity/description/?lang=pythondata

In [ ]:
# user_activity["username_count"] = user_activity.groupby(["username"])[
#                                                          "startDate"].transform("count")

# user_activity["rank"] = user_activity.groupby(["username"])[
#                                                "startDate"].rank(method="dense",
#                                                                  ascending=False)

# condition_1 = (user_activity["username_count"]==1)
# condition_2 = ((user_activity["username_count"]>1) & (user_activity["rank"]==2))
# user_activity = user_activity[condition_1 | condition_2]
# user_activity = user_activity.drop(columns=['username_count', 'rank'])