In [2]:
import pandas as pd

data = [[1, '2019-01-01', 'Lenovo'], 
        [2, '2019-02-09', 'Samsung'], 
        [3, '2019-01-19', 'LG'], 
        [4, '2019-05-21', 'HP']]
users = pd.DataFrame(data, 
                     columns=['user_id', 
                              'join_date', 
                              'favorite_brand']).astype({'user_id':'Int64', 
                                                         'join_date':'datetime64[ns]', 
                                                         'favorite_brand':'object'})

data = [[1, '2019-08-01', 4, 1, 2], 
        [2, '2019-08-02', 2, 1, 3], 
        [3, '2019-08-03', 3, 2, 3], 
        [4, '2019-08-04', 1, 4, 2], 
        [5, '2019-08-04', 1, 3, 4], 
        [6, '2019-08-05', 2, 2, 4]]
orders = pd.DataFrame(data, 
                      columns=['order_id', 
                               'order_date', 
                               'item_id', 
                               'buyer_id', 
                               'seller_id']).astype({'order_id':'Int64', 
                                                     'order_date':'datetime64[ns]', 
                                                     'item_id':'Int64', 
                                                     'buyer_id':'Int64', 
                                                     'seller_id':'Int64'})
data = [[1, 'Samsung'], 
        [2, 'Lenovo'], 
        [3, 'LG'], 
        [4, 'HP']]
items = pd.DataFrame(data, 
                     columns=['item_id', 
                              'item_brand']).astype({'item_id':'Int64', 
                                                     'item_brand':'object'})
display(users, orders, items)

   user_id  join_date favorite_brand
0        1 2019-01-01         Lenovo
1        2 2019-02-09        Samsung
2        3 2019-01-19             LG
3        4 2019-05-21             HP

   order_id order_date  item_id  buyer_id  seller_id
0         1 2019-08-01        4         1          2
1         2 2019-08-02        2         1          3
2         3 2019-08-03        3         2          3
3         4 2019-08-04        1         4          2
4         5 2019-08-04        1         3          4
5         6 2019-08-05        2         2          4

   item_id item_brand
0        1    Samsung
1        2     Lenovo
2        3         LG
3        4         HP