In [28]:
import pandas as pd
import numpy as np

data = [[1, 2],
        [2, 2],
        [3, 1]]
flights = pd.DataFrame(data, columns=['flight_id',
                                      'capacity']).astype({'flight_id':'Int64',
                                                           'capacity':'Int64'})
display(flights)

   flight_id  capacity
0          1         2
1          2         2
2          3         1

In [29]:
data = [[101, 1, '2023-07-10 16:30:00'],
        [102, 1, '2023-07-10 17:45:00'],
        [103, 1, '2023-07-10 12:00:00'],
        [104, 2, '2023-07-05 13:23:00'],
        [105, 2, '2023-07-05 09:00:00'],
        [106, 3, '2023-07-08 11:10:00'],
        [107, 3, '2023-07-08 09:10:00']]
passengers = pd.DataFrame(data, columns=['passenger_id',
                                         'flight_id',
                                         'booking_time']).astype({'passenger_id':'Int64',
                                                                  'flight_id':'Int64',
                                                                  'booking_time':'datetime64[ns]'})
display(passengers)

   passenger_id  flight_id        booking_time
0           101          1 2023-07-10 16:30:00
1           102          1 2023-07-10 17:45:00
2           103          1 2023-07-10 12:00:00
3           104          2 2023-07-05 13:23:00
4           105          2 2023-07-05 09:00:00
5           106          3 2023-07-08 11:10:00
6           107          3 2023-07-08 09:10:00

In [30]:
passengers = passengers.merge(flights)
passengers = passengers.sort_values(by=["flight_id", "booking_time"])
passengers["current_capacity"] = passengers.groupby(["flight_id"])["passenger_id"].transform("cumcount")+1
passengers["Status"] = np.where(passengers["current_capacity"]>passengers["capacity"], "Waitlist", "Confirmed")
passengers = passengers.sort_values(by=["passenger_id"])
passengers = passengers[["passenger_id", "Status"]]
display(passengers)

   passenger_id     Status
0           101  Confirmed
1           102   Waitlist
2           103  Confirmed
3           104  Confirmed
4           105  Confirmed
5           106   Waitlist
6           107  Confirmed